{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f9;
        }
        .header {
            display: flex;
            justify-content: flex-end;
            padding: 10px 20px;
            background-color: #2c3e50;
            color: white;
        }
        .header span {
            font-size: 18px;
        }
        .container {
            padding: 20px;
        }
        .table-container {
            margin-bottom: 30px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin: 10px 0;
        }
        th, td {
            padding: 10px;
            text-align: left;
            border: 1px solid #ddd;
        }
        th {
            background-color: #2c3e50;
            color: white;
        }
        .btn {
            background-color: #3498db;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin: 10px 0;
        }
        .btn:hover {
            background-color: #2980b9;
        }

        .btn_d {
            background-color: #BC2115;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin: 10px 0;
        }
        .btn_d:hover {
            background-color: #370A06;
        }

        a {
            text-decoration: none;
        }
    </style>
</head>
<body>

    <!-- Header Section -->
    <div class="header" style="display: flex; justify-content: space-between; align-items: center; padding: 10px 20px;">
        <img src="{% static 'logo.png' %}" class="logo" alt="Logo" style="width: 5%; height: auto;">

        <div>
            <div>
                <button id="AddUserBtn" style="padding: 10px 20px; background-color: rgba(0,0,0,0); color: white; border: none; border-radius: 4px; cursor: pointer;valign:center;" {% if data.user_type == "user" %}disabled{% endif %}>Add User</button>
                <button id="RemoveUserBtn" style="padding: 10px 20px; background-color: rgba(0,0,0,0); color: white; border: none; border-radius: 4px; cursor: pointer;valign:center;"{% if data.user_type == "user" %}disabled{% endif %}>Remove User</button>

                <a href="{% url 'logout' %}" style="color: #fff; background-color: #D32317; padding: 10px 20px; border-radius: 5px; text-decoration: none; font-size: 16px; display: inline-block; transition: background-color 0.3s;">Logout</a>

            </div>
            <span style="font-size: 16px; color: #ffffff;">({{ data.user_type }}) Welcome, {{ data.last_name }}</span>
        </div>
    </div>
    <!-- Main Container -->
    <div class="container">

        <!-- Product Table -->
        <div class="table-container">
            <h2>Products</h2>
            <div style="max-height:200px; overflow-y:auto">
                <table>
                    <thead style="position:sticky;top:0;">
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Unit Price(#)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                        <tr>
                            <td>{{product.title}}</td>
                            <td>{{product.description}}</td>
                            <td>{{product.unit_price}}</td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <button id="AddProductBtn" style="padding: 10px 20px; background-color: #007bff; color: white; border: none; border-radius: 4px; cursor: pointer;">Add Product</button>
            <button id="EditProductBtn" style="padding: 10px 20px; background-color: #1C4E09; color: white; border: none; border-radius: 4px; cursor: pointer;"{% if data.user_type == "user" %}disabled{% endif %}>Edit Product</button>
            <button id="DeleteProductBtn" style="padding: 10px 20px; background-color: #FF1E05; color: white; border: none; border-radius: 4px; cursor: pointer;"{% if data.user_type == "user" %}disabled{% endif %}>Delete Product</button>
        </div>

        <!-- Expenditure Table -->
        <div class="table-container">
            <h2>Expenditures</h2>
            <div style="max-height:200px; overflow-y:auto;">
                <table>
                    <thead style="position:sticky; top:0;">
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Amount(#)</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for expenditure in expenditures %}
                        <tr>
                            <td>{{expenditure.title}}</td>
                            <td>{{expenditure.description}}</td>
                            <td>{{expenditure.amount}}</td>
                            <td>{{expenditure.date}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <button id="AddExpenditureBtn" style="padding: 10px 20px; background-color: #007bff; color: white; border: none; border-radius: 4px; cursor: pointer;">Add Expense</button>
            <button id="DeleteExpenditureBtn" style="padding: 10px 20px; background-color: #FF1E05; color: white; border: none; border-radius: 4px; cursor: pointer;"{% if data.user_type == "user" %}disabled{% endif %}>Remove Expense</button>


        </div>

        <!-- Sales Table -->
        <div class="table-container">
            <h2>Sales</h2>
            <div style="max-height:200px; overflow-y:auto;">
                <table>
                    <thead style="position:sticky;top:0;">
                        <tr>
                            <th>Product Title</th>
                            <th>Product Description</th>
                            <th>Quantity</th>
                            <th>Revenue</th>
                            <th>Date</th>
                       
                        </tr>
                    </thead>
                    <tbody>
                        {% for sale in sales %}
                            <tr>
                                <td>{{sale.product.title}}</td>
                                <td>{{sale.product.description}}</td>
                                <td>{{sale.quantity}}</td>
                                <td>{{sale.revenue}}</td>
                                <td>{{sale.date}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <button id="AddSaleBtn" style="padding: 10px 20px; background-color: #007bff; color: white; border: none; border-radius: 4px; cursor: pointer;">Record Sale</button>
            <button id="RemoveSaleBtn" style="padding: 10px 20px; background-color: #FF1E05; color: white; border: none; border-radius: 4px; cursor: pointer;"{% if data.user_type == "user" %}disabled{% endif %}>Remove Record</button>
            <button id="AnalyzeBtn" style="padding: 10px 20px; background-color: #090F4E; color: white; border: none; border-radius: 4px; cursor: pointer;"{% if data.user_type == "user" %}disabled{% endif %}>Analyze</button>


        </div>
        
        {% include 'AddProductForm.html' %}
        {% include 'AddExpenditureForm.html' %}
        {% include "AddSaleForm.html" %}
        {% include "DeleteProductForm.html" %}
        {% include "DeleteExpenditureForm.html" %}
        {% include 'DeleteSaleForm.html' %}
        {% include 'analyzeform.html' %}
        {% include 'AddUser.html' %}
        {% include 'RemoveUser.html' %}
        {% include 'EditProductForm.html' %}

        {% if analysis != "none" %}
            {% include 'analyze.html' %}
        {% endif %}

        {% if success %}
            {% include 'success.html' %}
        {% endif %}

        {% if error %}
            {% include 'failure.html' %}
        {% endif %}




    <script>
        // Get the modal
        var AddProductForm = document.getElementById("AddProductForm");
        var AddProductBtn = document.getElementById("AddProductBtn");
        var closeBtn = document.getElementById("CloseBtn");

        AddProductBtn.onclick = function() {
            AddProductForm.style.display = "block";
        }

        closeBtn.onclick = function() {
            AddProductForm.style.display = "none";
        }

        var add_expense_form = document.getElementById("AddExpenditureForm");
        var add_expense_btn = document.getElementById("AddExpenditureBtn");
        var expense_close = document.getElementById("ExpenditureClose");

        add_expense_btn.onclick = function() {
            add_expense_form.style.display = "block";
        }
        expense_close.onclick = function() {
            add_expense_form.style.display = "none";
        }

        var add_sale_btn = document.getElementById("AddSaleBtn");
        var add_sale_form = document.getElementById("RecordSaleForm");
        var add_sale_close = document.getElementById("SaleClose");

        add_sale_form.style.display = "none";

        add_sale_btn.onclick = function() {
            add_sale_form.style.display = "block";
        }
        add_sale_close.onclick = function() {
            add_sale_form.style.display = "none";
        }

        var delete_product_form = document.getElementById("DeleteProductForm");
        var delete_product_close = document.getElementById("DeleteProductClose");
        var delete_product_open = document.getElementById("DeleteProductBtn");

        delete_product_open.onclick = function() {
            delete_product_form.style.display = "block";
        }
        delete_product_close.onclick = function() {
            delete_product_form.style.display = "none"
        }

        var delete_expenditure_form = document.getElementById("DeleteExpenditureForm")
        var delete_expenditure_open = document.getElementById("DeleteExpenditureBtn")
        var delete_expenditure_close = document.getElementById("DeleteExpenditureClose")
        delete_expenditure_open.onclick = function() {
            delete_expenditure_form.style.display = "block"
        }
        delete_expenditure_close.onclick = function() {
            delete_expenditure_form.style.display = "none"
        }

        var salebtn = document.getElementById("RemoveSaleBtn")
        var saleform = document.getElementById("DeleteSaleForm")
        var closesaleform = document.getElementById("DeleteSaleClose")

        salebtn.onclick = function() {
            saleform.style.display = "block"
        }
        closesaleform.onclick = function() {
            saleform.style.display = "none"
        }

        var analyzeform = document.getElementById("AnalyzeForm")
        var analyzebtn = document.getElementById("AnalyzeBtn")
        var closeanalyzeform = document.getElementById("AnalyzeClose")

        analyzebtn.onclick = function() {
            analyzeform.style.display = 'block'
        }
        closeanalyzeform.onclick = function() {
            analyzeform.style.display = 'none'
        }

        var adduserbtn = document.getElementById("AddUserBtn")
        var adduserform = document.getElementById("AddUserForm")
        var adduserclose = document.getElementById("AddUserClose")

        adduserbtn.onclick = function() {
            adduserform.style.display = 'block'
        }
        adduserclose.onclick = function() {
            adduserform.style.display = "none"
        }

        var removeuserbtn = document.getElementById("RemoveUserBtn")
        var removeuserform = document.getElementById("RemoveUserForm")
        var removeuserclose = document.getElementById('RemoveUserClose')

        removeuserbtn.onclick = function() {
            removeuserform.style.display = "block"
        }

        removeuserclose.onclick = function() {
            removeuserform.style.display = "none"
        }

        var editproductbtn = document.getElementById("EditProductBtn")
        var editproductform = document.getElementById("EditProductForm")
        var editproductclose = document.getElementById("EditProductClose")

        editproductbtn.onclick = function() {
            editproductform.style.display = "block"
        }

        editproductclose.onclick = function() {
            editproductform.style.display = 'none'
        }



        var notification_popup = document.getElementById("Notification");
        var notification_close = document.getElementById("NotificationClose");

        if (notification_close) {
            notification_close.onclick = function() {
            notification_popup.style.display = "none";
        }
        }



        
    </script>
    </div>
</body>
</html>

