<div id="DeleteSaleForm" class="modal" style="display: none; position: fixed; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgba(0, 0, 0, 0.4);">
        <div class="modal-content" style="background-color: #fefefe; margin: 15% auto; padding: 20px; border: 1px solid #888; width: 80%; max-width: 400px; border-radius: 5px;">
            <span class="close" id="DeleteSaleClose" style="color: #aaa; float: right; font-size: 28px; font-weight: bold; cursor: pointer;">&times;</span> <!-- Close button -->
            <h3>Remove Record</h3>
            <form method=POST action="{% url 'remove-sale' %}">
                {% csrf_token %}
               
        <div class="form-group" style="display: flex; flex-direction: column;">
            <label for="sale" style="font-size: 16px; color: #333; margin-bottom: 5px;">Product:</label>
            <select class="form-control" id="sale" name="sale" required style="padding: 10px; font-size: 16px; border: 1px solid #ccc; border-radius: 5px; outline: none;">
                <option value="">Select a Record</option>
                <!-- Loop through products passed from Django view -->
                {% for sale in sales %}
                <option value="{{ sale.id }}">{{ sale.product.title }} ({{ sale.revenue }}) ({{ sale.date }})</option>
                {% endfor %}
            </select>
            <p></p>
        </div>


                <button type="submit" style="padding: 10px 20px; background-color: #007bff; color: white; border: none; border-radius: 4px; cursor: pointer;">
                    Delete Record
                </button>
            </form>
        </div>
    </div>

